.migration-about-sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.8)),
    url(/bek-ruby-15april/assets/8-days-image/migration-bg.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.migration-about-sub-header h1 {
  margin-top: 100px;
}

.highlights-ul ul {
  margin-bottom: 20px;
}

.migration-about-sub-header ul li a {
  color: #fff;
}

.migration-days-itinerary {
  padding-bottom: 150px;
}

.about-tour-col-info li {
  margin-bottom: 0px;
}

.highlights-ul ul li {
  padding-bottom: 5px;
  font-weight: 700;
}
