.eight-about-sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.8)),
    url(/bek-ruby-15april/assets/8-days-image/8day-classic-2.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.eight-about-sub-header h1 {
  margin-top: 100px;
}

.eight-about-sub-header ul li a {
  color: #fff;
}

.eight-days-itinerary {
  padding-bottom: 150px;
}
