section.testimonial-food {
  background-color: var(--testimonial-background-color);
}
.testimonial-food {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--testimonial-background-color);
  padding: 3px;
  padding-bottom: 40px;
}
.slider-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.testimonial-title h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}
.food-description {
  width: 50%;
  text-align: center;
  margin: auto;
}
.testimonial-title p {
  color: var(--text-color-p-grey);
}
.slider-container .testimonial-title {
  text-align: center;
  margin-bottom: 32px;
}
.slider-content {
  overflow: hidden;
  border-radius: 25px;
  margin: 0 40px;
}
.food-card {
  border-radius: 25px;
  background-color: #fff;
  height: 500px;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-content {
  height: 300px;
}
.image-content {
  position: relative;
  row-gap: 5px;
}
.card-image {
  position: relative;
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 50%;
}
.food-card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: none;
}
.name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.testimonial-starts {
  margin-top: 5px;
}
.card-content .fa {
  color: var(--rating-start-color);
}
.button:hover {
  background-color: var(--primary-color);
}
.swiper-navBtn {
  color: var(--primary-color);
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: var(--primary-color);
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination.bullet {
  background-color: var(--primary-color);
  opacity: 1;
}
.swiper-pagination.bullet-active {
  background-color: var(--primary-color);
}
@media screen and (max-width: 700px) {
  .slider-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .slider-container .testimonial-title h1 {
    font-size: 24px;
  }
  .testimonial {
    padding-left: 20px;
    padding-right: 20px;
  }
  .testimonial-title p {
    width: 80%;
  }
  .slider-container p {
    display: inline-block;
  }
}
@media only screen and (max-width: 550px) {
  .quastion-answers {
    width: 80%;
  }
  .slider-container .testimonial-title {
    text-align: center;
    margin-bottom: 0;
  }
}
