body {
  background-color: #fff;
  color: #fff;
}

:root {
  --tour-bg-color: hsl(31, 51%, 90%);
  --primary-color: #fa7436;
  --text-color: rgb(26, 26, 26);
  --text-color-p-grey: rgb(89, 89, 89);
  --text-color-p-black: rgb(38, 38, 38);
}

.question-sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.1), rgba(4, 9, 30, 0.4)),
    url(../assets/hero-page-img/q&a-hero-page.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.question-sub-header h1 {
  margin-top: 100px;
  color: #fff;
}

.quastion-answers {
  min-height: 150vh;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.quastion-answers h2 {
  color: var(--text-color);
  margin-top: 100px;
  font-size: 24px;
  font-weight: 600;
}

.title {
  font-size: 3rem;
  margin: 2rem 0rem;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--primary-color);
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 24px;
  color: var(--text-color-p-grey);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 18px;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1.2s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 2rem;
    margin: 2rem 0rem;
  }
  .question h3 {
    font-size: 1.3rem;
  }
  .answer p {
    font-size: 1rem;
  }

  .quastion-answers {
    width: 90%;
    padding-bottom: 100px;
  }

  body {
    background-color: #fff;
  }
}

@media only screen and (max-width: 550px) {
  .question-sub-header h1 {
    margin-top: 150px;
  }
}
