.testimonial-container {
  height: 100vh;
  width: 100%;
  display: none;
  place-items: center;
  background-color: #f5f5f5;
}

.testimonial-title {
  padding-top: 50px;
}

.testimonial-title h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}

.testimonial-title p {
  text-align: center;
}

.testimonial-c-2 {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.testimonial-c-2 .testimonial-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-c-2 .testimonial-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.testimonial-slide p {
  text-align: center;
  line-height: 23px;
  padding: 0 120px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.testimonial-slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
}

.testimonial-slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}

/* swiper button css */
.swiper-button-next {
  top: 35% !important;
}

.swiper-button-prev {
  top: 35% !important;
}

.swiper-pagination {
  top: 80% !important;
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
}

.swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.swiper-pagination-bullet-active {
  background-color: #4070f4 !important;
}

@media (max-width: 480px) {
  .testimonial-container {
    height: 140vh;
    background-color: #4070f4;
  }

  .testimonial-title {
    background-color: #4070f4;
  }

  .testimonial-title p {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .testimonial-slide p {
    padding: 0 20px;
  }

  .testimonial-container {
    height: 130vh;
  }

  .nav-btn {
    display: none !important  ;
  }
}

section.testimonial-food {
  background-color: var(--testimonial-background-color);
}
.testimonial-food {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--testimonial-background-color);
  padding: 3px;
  padding-bottom: 40px;
}
.slider-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.testimonial-title h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color);
}
.food-description {
  width: 50%;
  text-align: center;
  margin: auto;
}
.testimonial-title p {
  color: var(--text-color-p-grey);
}
.slider-container .testimonial-title {
  text-align: center;
  margin-bottom: 32px;
}
.slider-content {
  overflow: hidden;
  border-radius: 25px;
  margin: 0 40px;
}
.food-card {
  border-radius: 25px;
  background-color: #fff;
  height: 500px;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-content {
  height: 300px;
}
.image-content {
  position: relative;
  row-gap: 5px;
}
.card-image {
  position: relative;
  height: 80px;
  width: 80px;
  background-color: #fff;
  border-radius: 50%;
}
.food-card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: none;
}
.name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.testimonial-starts {
  margin-top: 5px;
}
.card-content .fa {
  color: var(--rating-start-color);
}
.button:hover {
  background-color: var(--primary-color);
}
.swiper-navBtn {
  color: var(--primary-color);
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: var(--primary-color);
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination.bullet {
  background-color: var(--primary-color);
  opacity: 1;
}
.swiper-pagination.bullet-active {
  background-color: var(--primary-color);
}
@media screen and (max-width: 700px) {
  .slider-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
  .slider-container .testimonial-title h1 {
    font-size: 24px;
  }
  .testimonial {
    padding-left: 20px;
    padding-right: 20px;
  }
  .testimonial-title p {
    width: 80%;
  }
  .slider-container p {
    display: inline-block;
  }
}
@media only screen and (max-width: 550px) {
  .quastion-answers {
    width: 80%;
  }
  .slider-container .testimonial-title {
    text-align: center;
    margin-bottom: 0;
  }
}
